<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="3.0">

    <!-- Servlet V3 Upload -->
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>org.eustrosoft.servlets.UploadServletV3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload_new_version</url-pattern>
    </servlet-mapping>
    <!-- Apache Commons fileupload -->
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>org.eustrosoft.servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <!-- File downloading using simple byte stream -->
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>org.eustrosoft.servlets.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <!-- PARAMETER FOR ROOT DIRECTORY -->
    <context-param>
        <param-name>root</param-name>
        <param-value>/s/usersdb/</param-value>
    </context-param>

    <!-- PARAMETER FOR USER's DIRECTORY (Path - /s/usersdb/(user)/) -->
    <context-param>
        <param-name>user</param-name>
        <param-value>yadzuka</param-value>
    </context-param>

    <!-- PARAMETER FOR LOGGING (file path) -->
    <context-param>
        <param-name>logFilePath</param-name>
        <param-value>/mnt/e/AllProjects/Java_projects/LogsFromCMS/logs.txt</param-value>
    </context-param>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
