<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="3.0">
<!-- START QREdit section -->
    <display-name>EustroCMS</display-name>
    <context-param>
     <param-name>QRDB_PATH</param-name>
     <param-value>/var/c1/</param-value>
    </context-param>

    <security-constraint>
      <web-resource-collection>
         <web-resource-name>EustroCMS/Common user interface</web-resource-name>
         <!-- Define the context-relative URL(s) to be protected -->
         <url-pattern>/*</url-pattern>
         <!-- If you list http methods, only those methods are protected -->
        <!--
         <http-method>DELETE</http-method>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
         <http-method>PUT</http-method>
        -->
      </web-resource-collection>
      <auth-constraint>
         <!-- Anyone with one of the listed roles may access this area -->
         <role-name>yadzukacms</role-name>
      </auth-constraint>
    </security-constraint>
    <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>EustroCMS/Common user interface</realm-name>
    </login-config>

    <!-- Security roles referenced by this web application -->
    <security-role>
      <role-name>yadzukacms</role-name>
    </security-role>
<!-- END QREdit section -->

    <!-- Servlet V3 Upload -->
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>org.eustrosoft.servlets.UploadServletV3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload_new_version</url-pattern>
    </servlet-mapping>
    <!-- Apache Commons fileupload -->
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>org.eustrosoft.servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <!-- File downloading using simple byte stream -->
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>org.eustrosoft.servlets.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <!-- PARAMETER FOR ROOT DIRECTORY -->
    <context-param>
        <param-name>root</param-name>
        <param-value>/var/c1/</param-value>
    </context-param>

    <!-- PARAMETER FOR USER's DIRECTORY (Path - /s/usersdb/(user)/) -->
    <context-param>
        <param-name>user</param-name>
        <param-value>yadzukacms.data</param-value>
    </context-param>

    <!-- PARAMETER FOR LOGGING (file path) -->
    <context-param>
        <param-name>logFilePath</param-name>
        <param-value>/var/c1/yadzukacms.data/var/log/cms.log</param-value>
    </context-param>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
